# Use PyTorch wheels from CUDA 11.8 index
--extra-index-url https://download.pytorch.org/whl/cu118

# Linting and Testing
black
flake8
isort
tox

# Django + Celery + Gunicorn + Message Queue
rich
amqp
celery
Django
django-cleanup
django-dbbackup==4.3.0
django-extensions
gunicorn
kombu
psycopg2
psycopg2-binary
pytz
pytzdata
shortuuid
psutil
requests
authlib

# Data Processing & Numerical Computing
numpy
pandas
scipy
scikit-learn

# Computer Vision & Image Processing
opencv-python
Pillow
pillow-heif

# 3D Graphics & Geometry Processing
plyfile
open3d

# Neural Network & Deep Learning Models
torch==2.1.2+cu118
torchvision==0.16.2+cu118
keras
silence-tensorflow
tensorflow
timm

# NeRF & 3D Reconstruction
nerfstudio
